@using System;
@using System.Collections.Generic;
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css"/>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 color">
                    <div class="row">
                        <div id="turnbox">
                            <span> picks until your turn</span>
                        </div>
                    </div>
                    <div class="row">
                        <!-- time icon Drafting Now -->
                    </div>
                    <div class="row">
                        <!-- logic for each turn also to figure out how to get through each iteration and append it from the list as the turn moves -->
                        <div id="listbox">
                            <ul>
                                <li>User1 goes here</li>
                                <li>User2 goes here</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Points</th>
                                <th>Steals</th>
                                <th>Blocks</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>