@{
    ViewData["Title"] = "Login/Registration";
}
<h1 style="text-align:center;">Welcome to Fantasy Snowdown</h1>

<div class="container">
    <div class="row">
        <partial name="LoginPartial"/>
    </div>
    <br>
    <div>
        <partial name="RegisterPartial"/>
    </div>
</div>
